<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ art.title }}</title>
</head>
<body style="background-color: rgb(225,225,225)">
{% include 'head.html' %}
<br>


<div class="col-md-8 col-md-offset-2 col-sm-12" style="background-color: rgb(235,235,235);margin-top: -20px">
    <div id="mainContent">
        <div style="text-align: center">
            <h2>{{ art.title }}</h1>

        </div>
        {% autoescape off %}
            {{ art.content }}
        {% endautoescape %}
    </div>
    {% if collections  == 0 %}
        <input type="button" style="float:right" class="btn btn-danger" onclick="collection()" id='btn-collection'
               value="收藏本文">{% else %}
        <input type="button" style="float:right" class="btn btn-danger" onclick="collection()" id='btn-collection'
               value="取消收藏">{% endif %}
    <br>
    <h2>用户评论</h2>
    {% if  request.user.is_authenticated %}
        <div class="panel panel-default ">
            <textarea class="form-control" id="comment" name="comment" placeholder="我也来说两句..."></textarea>
            <input type="hidden" value="{{ art.id }}" id="art">
        </div>
        <input style="float: right" type="button" onclick="sub_comment()" class="btn btn-success" value="评论"/>
        <br><br><br>
    {% endif %}
    <div style="background-color:rgb(240,240,240);">
        {% for i in comment %}
            <div class="panel panel-default">
                <div class="panel-body" style="background-color:rgb(255,255,255);">
                    <div style="float:left;font-size:20px;">{{ i.userName }}</div>
                    <br><br>
                    {{ i.content }}
                    <br>
                    <div style="float:right">{{ i.created_time }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
</body>
<script>
    function sub_comment() {

        var content = $("#comment").val();
        var id = $("#art").val();
        $.get("{% url 'sub_comment' %}", {'content': content, 'id': id}, function (ret) {
            // alert(ret.info);
            window.location.reload();
        })
    }
    function collection() {
        var id = $("#art").val();
        var status = 0;
        var btn = $("#btn-collection").val();
        if (btn == "收藏本文")status = 1;
        $.get("{% url 'art_collections' %}", {'status': status, 'id': id}, function (ret) {
            if (status == 1)info = "取消收藏";
            else info = "收藏本文";
            $("#btn-collection").val(info)
        })
    }
    $(function foot() {
                var mainContent=$("#mainContent");
                //alert(mainContent.height());
                var height=mainContent.height();
                var minHeight=$(window).height() - 300;
                if(height<minHeight)
                mainContent.css("height",minHeight)
            }
    )
</script>

</html>
