<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>技术交流</title>
</head>
<body>
{% include 'head.html' %}
{% include 'pic.html' %}


{#</div>#}
{% load my_page %}
{% paginate art 6 %}
<div class="col-xs-12 " style="background-color:rgb(230,230,230);margin-top:-50px;">
    <h3 style="text-align: center">{% for item in category_list %}
        {% if forloop.counter == cate_id %}{{ item }}{% endif %}
    {% endfor %}  </h3>

    <div class="input-group col-xs-12 col-sm-3 col-sm-offset-1"  style="margin-bottom: 50px">
        <form action="" id="search_form" method="post">
            <input type="text" name="search" id="search" placeholder="搜索" class="form-control">
        </form>
        <div class="input-group-btn">
            <button class="btn btn-primary" id="btn-search" onclick="art_search()">搜索</button>
        </div>
    </div>

    {% for i in art %}
        <div class="col-xs-12  col-sm-6  ">
            <ul class="list-group-item">
                <li class="list-group-item">
                    <div style="text-align: center;"><h3 style="color: #6070cc">{{ i.title }}</h3></div>
                    <div style="text-align: right">作者:{{ i.author }}</div>
                </li>
                <li class="list-group-item">
                    {% autoescape off %}{{ i.abstract }}{% endautoescape %}---{{ i.update_time }}</li>
                <li class="list-group-item">标签：{{ i.category }}
                    <div style="float: right"><a style="color: #6070cc" href="{% url 'article' i.id %}">阅读全文</a></div>
                </li>
            </ul>
            <br>
        </div>

    {% endfor %}

    {% include 'page.html' %}
</div>
</body>
<script>
    $(function () {

    });
    function art_search() {
        var search = $("#search").val();
        location.href = "art_search?search=" + search;
        //alert(search);
    }
</script>
</html>