<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>技术交流</title>
</head>
<body>
{% include 'head.html' %}
{% include 'pic.html' %}


{#</div>#}
{% load my_page %}
{% paginate art 6 %}

 <pre></pre>
<div class="col-xs-12 " style="margin-top:10px;">

    <div class="input-group col-xs-12 col-sm-3 col-sm-offset-1" style="margin-bottom: 30px;margin-top: 20px">

        <form action="" id="search_form" method="post">
            <input type="text" name="search" id="search" placeholder="搜索" class="form-control">
            {% csrf_token %}
        </form>
        <div class="input-group-btn">
            <button class="btn btn-primary" id="btn-search" onclick="art_search()">搜索</button>
        </div>
    </div>


    <div class="col-xs-12  col-md-6 col-md-offset-1  ">
        <h3 style="text-align: center">
            {% if cate_id == -1 %}最近更新
            {% else %}
                {% for item in category_list %}
                    {% if forloop.counter == cate_id %}{{ item }}
                    {% endif %}
                {% endfor %}
            {% endif %} </h3>
        {% for i in art %}

                <li class="list-group-item">
                    <div style="text-align: center;"><h3 style="color: #6070cc">{{ i.title }}</h3></div>
                    <div style="text-align: right">作者:{{ i.author }}</div>
                </li>
                <li class="list-group-item">
                    {% autoescape off %}{{ i.abstract }}{% endautoescape %}---{{ i.update_time }}</li>
                <li class="list-group-item">标签：{{ i.category }}
                    <div style="float: right"><a style="color: #6070cc" href="{% url 'article' i.id %}">阅读全文</a></div>
                </li>

            <br>
        {% endfor %}
    </div>


    <div class="visible-lg col-md-2 col-md-offset-3  " ><h3 class="text-center" style="color: red">热帖</h3>
        {% for i in max_comment %}
            <div class="panel panel-default " style="margin-bottom: 5px;">

                    <li class="list-group-item">
                        <p style="color: #cc323c">{{ i.article__title }}</p>
                    </li>
                    <li class="list-group-item">
                        收藏数：{{ i.article__likes }} &nbsp;&nbsp;&nbsp;评论数：{{ i.dcount }}
                    <li class="list-group-item">作者：{{ i.article__author }}
                        <div style="float: right"><a style="color: #6070cc" href="{% url 'article' i.article__id %}">阅读全文</a>
                        </div>
                    </li>

            </div>
            <br>
        {% endfor %}
    </div>

    {% include 'page.html' %}
</div>
{% include 'foot.html' %}
</body>
<script>
    $(function () {

    });
    function art_search() {
        var search = $("#search").val();
        location.href = "art_search?search=" + search;
        //alert(search);
    }
</script>

</html>
