<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body >
{% include 'head.html' %}
<ul class="nav nav-tabs" role="tablist" id="header">
  <li role="presentation" class="active"><a href="#" onclick="TabShow(1)">我的日志</a></li>
  <li role="presentation"><a href="#" onclick="TabShow(2)">收藏文章</a></li>
  <li role="presentation"><a href="#" onclick="TabShow(3)">工作计划</a></li>
</ul>
<div id="1">
{% for i in art %}
    <div class="col-xs-12 col-sm-4 ">
        <ul class="list-group-item">
            <li class="list-group-item"> <a href="{% url 'article' i.id %}">{{ i.title }}</a>
            </li>
            <li class="list-group-item">
                {% autoescape off %}{{ i.abstract }}{% endautoescape %}---{{ i.update_time }} <div style="float: right">{{ i.author }}</div></li>
            <li class="list-group-item">
                {% if i.state == '1' %}已发布{% else %}暂存状态&nbsp; {% endif %}
                    <div style="float: right"><a href="{% url 'update_article' i.id %}">编辑</a>
                        </div>
                    
            </li>
        </ul>
        <br>
    </div>
{% endfor %}
</div>
<div id="2" style="display: none">
    {% for i in collections %}
        <div class="col-xs-12 col-sm-4 ">
            <ul class="list-group-item">
                <li class="list-group-item"> <a href="{% url 'article' i.article_id %}">{{ i.article.title }}</a>
                </li>
                <li class="list-group-item">
                    {% autoescape off %}{{ i.article.abstract }}{% endautoescape %}---{{ i.article.update_time }}<div style="float:right">{{ i.article.author }}</div></li>
                <li class="list-group-item">
                   标签：{{ i.article.category }}
                </li>
            </ul>
            <br>
        </div>
    {% endfor %}
</div>

<div id="3" style="display: none">
    {% include 'weekly.html' %}
    </div>
<script>
    function TabShow(id) {
        var div1=$("#1");
        var div2=$("#2");
        var div3=$("#3");
        div1.css("display","none")
        div2.css("display","none")
        div3.css("display","none")
        var ul=$("ul#header").children("li");
        ul.removeClass("active");

        var div=$('#'+id);
        div.css("display","block")
        var li=$("ul#header").children("li:eq("+(id-1)+")");
        li.addClass("active");
    }
</script>
</body>
</html>
